<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>系统设置</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>区域管理</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet light bordered margin-top-10">
    <div class="portlet-title">
        <div class="caption font-green-haze">
            <span class="caption-subject bold uppercase"> 区域管理 </span>
        </div>
        <div class="actions">
            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-1 control-label">增加地区</label>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input class="form-control" type="text" name="region" placeholder="请输入地区">
                            <span class="input-group-btn">
                                <button id="genpassword" class="btn btn-success" type="button"> 确定 </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        </div>
    <div class="row margin-top-10">
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
        <div class="col-md-4">
            <span class="c-font-14 sbold margin-right-10">北京</span>
            <a href="javascript:;" class="btn green"> <i class="fa fa-edit"></i>管理</a>
            <a href="javascript:;" class="btn red"><i class="fa fa-times"></i> 删除 </a>
        </div>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->