<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>权限管理</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>管理员日志</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<div class="portlet box light" style="margin-top: 10px;">
    <div class="portlet-title">
        <div class="caption">日志列表 </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> ID </th>
                    <th> 角色名称 </th>
                    <th> 描述 </th>
                    <th> IP </th>
                    <th> 操作时间 </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 1 </td>
                    <td> admin </td>
                    <td> 后台登录 </td>
                    <td> 127.0.0.1 </td>
                    <td> 2016-09-30 09:18:51 </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> admin </td>
                    <td> 后台登录 </td>
                    <td> 192.168.0.102 </td>
                    <td> 2016-09-30 09:18:51 </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>