<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>权限管理</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>供应商管理</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<div class="portlet box light" style="margin-top: 10px;">
    <div class="portlet-title">
        <div class="caption">供应商管理 </div>
        <div class="tools">
            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 添加供应商</button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> ID </th>
                    <th> 供应商名称 </th>
                    <th> 供应商描述 </th>
                    <th> 供应商联系人 </th>
                    <th> 供应商电话 </th>
                    <th> 所属管理员 </th>
                    <th> 状态 </th>
                    <th> 操作 </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 1 </td>
                    <td> 妖媚商城 </td>
                    <td> 杨荣军生态科技股份有限公司 </td>
                    <td> 杨阳洋 </td>
                    <td> 18684252123 </td>
                    <td> admin </td>
                    <td> <i class="fa fa-check"></i> <i class="fa fa-close"></i> </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"><i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> 妖媚商城 </td>
                    <td> 杨荣军生态科技股份有限公司 </td>
                    <td> 杨阳洋 </td>
                    <td> 18684252123 </td>
                    <td> admin </td>
                    <td> <i class="fa fa-check"></i> <i class="fa fa-close"></i> </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"><i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>