<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>系统设置</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>网店设置</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<div class="portlet light bordered" style="margin-top: 10px;">
    <div class="portlet-title">
        <div class="caption">网店设置 </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1_1" data-toggle="tab" aria-expanded="true"> 网站信息 </a></li>
            <li class=""><a href="#tab_1_2" data-toggle="tab" aria-expanded="fasle"> 基本设置 </a></li>
            <li class=""><a href="#tab_1_3" data-toggle="tab" aria-expanded="false"> 短信设置 </a></li>
            <li class=""><a href="#tab_1_4" data-toggle="tab" aria-expanded="false"> 购物流程设置 </a></li>
            <li class=""><a href="#tab_1_5" data-toggle="tab" aria-expanded="false"> 邮件设置 </a></li>
            <li class=""><a href="javascript:;"> 水印设置 </a></li>
            <li class=""><a href="javascript:;"> 分销设置 </a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tab_1_1">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">网站备案号:</label>
                                <div class="col-md-4">
                                    <input type="text" name="name" data-required="1" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">网站名称:</label>
                                <div class="col-md-4">
                                    <input name="email" type="text" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">网站logo:</label>
                                <div class="col-md-4">
                                    <input name="url" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">网站标题:</label>
                                <div class="col-md-4">
                                    <input name="number" type="text" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">网站描述:</label>
                                <div class="col-md-4">
                                    <input name="digits" type="text" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">网站关键字:</label>
                                <div class="col-md-4">
                                    <input name="creditcard" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">联系人:</label>
                                <div class="col-md-4">
                                    <input name="occupation" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">联系电话:</label>
                                <div class="col-md-4">
                                    <input name="occupation" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">具体地址:</label>
                                <div class="col-md-4">
                                    <input name="occupation" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">客服QQ1:</label>
                                <div class="col-md-4">
                                    <input name="occupation" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">客服QQ2:</label>
                                <div class="col-md-4">
                                    <input name="occupation" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">客服QQ3:</label>
                                <div class="col-md-4">
                                    <input name="occupation" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="tab-pane fade" id="tab_1_2">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" id="form_sample_2" class="form-horizontal" novalidate="novalidate">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                            <div class="form-group  margin-top-20">
                                <label class="control-label col-md-3">会员注册赠送积分:</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input type="text" class="form-control" name="name"> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">附件上传大小:</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input type="text" class="form-control" name="email"> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">默认库存:</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input type="text" class="form-control" name="url"> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">库存预警数:</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input type="text" class="form-control" name="number"> </div>
                                        <span class="help-block">当商品数量少于X件时,会在系统后台首页>库存预警>显示 </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">发票税率:</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input type="text" class="form-control" name="digits"> </div>
                                        <span class="help-block">当买家需要发票的时候就要增加<商品金额>*<税率>的费用 </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">首页热门搜索词:</label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <input type="text" class="form-control" name="digits"> </div>
                                        <span class="help-block">多个热门搜索关键词请用竖线|分开,如(手机|电脑)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">开启APP测试:</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label class="">
                                                <div class="iradio_minimal-grey" style="position: relative;"><input type="radio" name="radio2" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> 是 </label>
                                            <label class="">
                                                <div class="iradio_minimal-grey checked" style="position: relative;"><input type="radio" name="radio2" checked="" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> 否 </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="tab-pane fade" id="tab_1_3">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">阿里大鱼[appkey]:</label>
                                <div class="col-md-4">
                                    <input type="text" name="name" data-required="1" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">阿里大鱼[secretKey]:</label>
                                <div class="col-md-4">
                                    <input name="email" type="text" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">公司名/品牌名/产品名:</label>
                                <div class="col-md-4">
                                    <input name="url" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">短信模板ID:</label>
                                <div class="col-md-4">
                                    <input name="number" type="text" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">注册启用短信:</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label class="">
                                                <div class="iradio_minimal-grey" style="position: relative;"><input type="radio" name="radio2" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> 是 </label>
                                            <label class="">
                                                <div class="iradio_minimal-grey checked" style="position: relative;"><input type="radio" name="radio2" checked="" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> 否 </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">短信码超时时间:</label>
                                <div class="col-md-4">
                                    <input name="creditcard" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="tab-pane fade" id="tab_1_4">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">全场满多少免运费:</label>
                                <div class="col-md-4">
                                    <input type="text" name="name" data-required="1" class="form-control"> </div>
                                    <span class="help-block">(0表示不免运费)</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">积分换算比例:</label>
                                <div class="col-md-4">
                                    <input name="email" type="text" class="form-control"> </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">发货后多少天自动收货:</label>
                                <div class="col-md-4">
                                    <input name="url" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">减库存的时机:</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="icheck-inline">
                                            <label class="">
                                                <div class="iradio_minimal-grey" style="position: relative;"><input type="radio" name="radio2" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> 订单支付时 </label>
                                            <label class="">
                                                <div class="iradio_minimal-grey checked" style="position: relative;"><input type="radio" name="radio2" checked="" class="icheck" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div> 发货时 </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="tab-pane fade" id="tab_1_5">
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form action="#" id="form_sample_1" class="form-horizontal" novalidate="novalidate">
                        <div class="form-body">
                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button> You have some form errors. Please check below. </div>
                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button> Your form validation is successful! </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">邮件发送服务器(SMTP):</label>
                                <div class="col-md-4">
                                    <input type="text" name="name" data-required="1" class="form-control"> </div>
                                <span class="help-block">发送邮箱的smtp地址。如: smtp.gmail.com或smtp.qq.com</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">服务器(SMTP)端口:</label>
                                <div class="col-md-4">
                                    <input name="email" type="text" class="form-control"> </div>
                                <span class="help-block">smtp的端口。默认为25。具体请参看各STMP服务商的设置说明 （如果使用Gmail，请将端口设为465）</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">邮箱账号:</label>
                                <div class="col-md-4">
                                    <input name="url" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">邮箱密码:</label>
                                <div class="col-md-4">
                                    <input name="url" type="text" class="form-control">
                                </div>
                                <span class="help-block">该密码请根据STMP服务商的设置说明填写，QQ邮箱此处填写授权码。</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">测试收件邮箱:</label>
                                <div class="col-md-4">
                                    <input name="url" type="text" class="form-control">
                                </div>

                                <span class="help-block"><button type="button" class="btn green-meadow">测试发送</button>  首次请先保存配置再测试</span>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <div class="tab-pane fade" id="tab_1_6">
                <p>水印设置</p>
            </div>
            <div class="tab-pane fade" id="tab_1_7">
                <p>分销设置</p>
            </div>
        </div>
    </div>
</div>