<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>系统设置</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>自定义导航</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<div class="portlet box light" style="margin-top: 10px;">
    <div class="portlet-title">
        <div class="caption">前台导航列表 </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> 导航名称 </th>
                    <th> 链接地址 </th>
                    <th> 是否显示 </th>
                    <th> 是否新窗口 </th>
                    <th> 排序 </th>
                    <th> 操作 </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 积分商城 </td>
                    <td> /index.php?m=Home&c=Goods&a=integralMall </td>
                    <td> <i class="fa fa-check"></i> </td>
                    <td> <i class="fa fa-close"></i> </td>
                    <td>
                        <input type="text" name="name" data-required="1" class="form-control">
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm green"> 查看
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm blue"> 编辑
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i> 删除 </a>
                    </td>
                </tr>
                <tr>
                    <td> 团购 </td>
                    <td> http://www.google.com.hk </td>
                    <td> <i class="fa fa-close"></i> </td>
                    <td> <i class="fa fa-close"></i> </td>
                    <td><input type="text" name="name" data-required="1" class="form-control"></td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm green"> 查看
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm blue"> 编辑
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i> 删除 </a>
                    </td>
                </tr>
                <tr>
                    <td> 数码城 </td>
                    <td> http://www.baidu.com </td>
                    <td> <i class="fa fa-close"></i> </td>
                    <td> <i class="fa fa-close"></i> </td>
                    <td><input type="text" name="name" data-required="1" class="form-control"></td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm green"> 查看
                            <i class="fa fa-search"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm blue"> 编辑
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i> 删除 </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>