<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>系统设置</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>友情链接列表</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<div class="portlet box light" style="margin-top: 10px;">
    <div class="portlet-title">
        <div class="caption">友情链接列表 </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
            <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
            <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
            <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> 排序 </th>
                    <th> 链接名称 </th>
                    <th> 链接地址 </th>
                    <th> 新窗口打开 </th>
                    <th> 操作 </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 1 </td>
                    <td> 测试链接 </td>
                    <td> http://help.ecshop.com/index.php?doc-view-23.htm </td>
                    <td> 开启 </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"> 编辑
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i> 删除 </a>
                    </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> 谷歌中国 </td>
                    <td> http://www.google.com.hk </td>
                    <td> 开启 </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"> 编辑
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i> 删除 </a>
                    </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> 百度搜索 </td>
                    <td> http://www.baidu.com </td>
                    <td> 开启 </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"> 编辑
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i> 删除 </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>