<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>会员管理</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>会员等级</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<div class="portlet box light" style="margin-top: 10px;">
    <div class="portlet-title">
        <div class="caption">会员等级 </div>
        <div class="tools">
            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> 新增等级 </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> 等级 </th>
                    <th> 等级名称 </th>
                    <th> 消费额度 </th>
                    <th> 折扣率 </th>
                    <th> 等级描述 </th>
                    <th> 操作 </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 1 </td>
                    <td> 注册会员 </td>
                    <td> 0.00 </td>
                    <td> 100% </td>
                    <td> 注册会员 </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"><i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> 铜牌会员 </td>
                    <td> 10000.00 </td>
                    <td> 98% </td>
                    <td> 铜牌会员 </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"><i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> 白银会员 </td>
                    <td> 30000.00 </td>
                    <td> 95% </td>
                    <td> 白银会员 </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"><i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td> 4 </td>
                    <td> 黄金会员 </td>
                    <td> 50000.00 </td>
                    <td> 92% </td>
                    <td> 黄金会员 </td>
                    <td>
                        <a href="javascript:;" class="btn btn-sm blue"><i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:;" class="btn btn-sm red">
                            <i class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>