<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">商城管理系统</a>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>会员管理</span>
            <i class="fa fa-caret-right"></i>
        </li>
        <li>
            <span>充值记录</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<div class="portlet box light" style="margin-top: 10px;">
    <div class="portlet-title">
        <div class="caption">充值记录 </div>
    </div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="font-dark bold" style="margin-left:23px;"> 会员昵称 </label>
                <input type="email" class="form-control" id="nickname" placeholder="模糊查询">
            </div>
            <div class="form-group ">
                <label class="font-dark bold">时间选择</label>

                    <div id="reportrange" class="btn default">
                        <i class="fa fa-calendar"></i> &nbsp;
                        <span></span>
                        <b class="fa fa-angle-down"></b>
                    </div>

            </div>
            <div class="form-group ">
            <a href="javascript:;" class="btn blue"> 筛选
                <i class="fa fa-search"></i>
            </a>
            </div>
        </form>

    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th> 会员ID </th>
                    <th> 会员昵称 </th>
                    <th> 充值单号 </th>
                    <th> 充值资金 </th>
                    <th> 提交时间 </th>
                    <th> 支付方式 </th>
                    <th> 支付状态 </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 1 </td>
                    <td> hello </td>
                    <td> rechargejbddlf1476006250 </td>
                    <td> 127.00 </td>
                    <td> 2016-10-09 17:44 </td>
                    <td> 支付宝支付 </td>
                    <td> 待支付 </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> hello </td>
                    <td> rechargejbddlf1476006250 </td>
                    <td> 127.00 </td>
                    <td> 2016-10-09 17:44 </td>
                    <td> 支付宝支付 </td>
                    <td> 待支付 </td>
                </tr>
                <tr>
                    <td> 3 </td>
                    <td> hello </td>
                    <td> rechargejbddlf1476006250 </td>
                    <td> 127.00 </td>
                    <td> 2016-10-09 17:44 </td>
                    <td> 支付宝支付 </td>
                    <td> 待支付 </td>
                </tr>
                <tr>
                    <td> 4 </td>
                    <td> hello </td>
                    <td> rechargejbddlf1476006250 </td>
                    <td> 127.00 </td>
                    <td> 2016-10-09 17:44 </td>
                    <td> 支付宝支付 </td>
                    <td> 待支付 </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>